---
# site specific css
---
@import url('https://fonts.googleapis.com/css?family=Alegreya|Lato:light');

$pantone-blue: #486972;
$pantone-green: #83B14F;

body {
  // Pantone's color of the year, hooray!!
  background: $pantone-green;
  color: white;
  font-family: 'Lato', sans-serif;
}

.logo {
  padding-right: 10px;
}

.big-image {
  background: url('/img/baldy.jpg');
  background-position: bottom;
  background-size: cover;
  height: 45vh;
}

.big-info {
  height: 45vh;
}

.big-image-caption {
  background-color: #434b52;
  opacity: .8;
  color: white;
  padding: 10px;
  margin-right: -15px;
  box-shadow: #062c33 -5px 5px 5px;
}

@media only screen and (min-width: 992px) {
  .big-image {
    height: 90vh;
  }
  .big-info {
    height: 90vh;
  }


}



.big-info > .container > h1 {
  font-family: 'Alegreya', serif;
  font-weight: bolder;
  text-shadow: #062c33 1px 1px;
}

.big-info > .container > h4 {
  font-weight: 100;
}

.parallax-wool{
  height: 300px;
  background: transparent;
}

.modal {
  color: #212529;
}


.footer {
  background-color: $pantone-blue;
  min-height: 500px;
}