<div id="contactModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contact Us</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> Phone: (406) 842-5235 <br/> (406) 596-0668</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>Address: Cal & Julie Ward<br/>3424 Hwy 287<br/>Sheridan, MT 59749</li>
                    <li><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Email: <a href="mailto:clovermeadowsmt@gmail.com">clovermeadowsmt@gmail.com</a></li>
                </ul>

            </div>
        </div>

    </div>
</div>