<nav class="navbar navbar-light navbar-expand-md justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto"><span class="logo">
        <img src="/img/clover.svg" alt="logo" height="35"/></span>Clover Meadow Targhees
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="navbar-nav mx-auto w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>