---
layout: base
---
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 big-image d-flex align-items-center justify-content-end">
            <div class="big-image-caption text-center">
                <span>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>
        <div class="col-md-6 align-self-center text-center">
            <div class="container col-md-6 big-info">
                <h1>Lorem ipsum dolor sit</h1>
                <h4>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
                some more text
            </div>
        </div>
    </div>
    <div class="row parallax-wool"></div>

    <div class="row content">
        <div class="text-center">
        {{ content }}
        </div>
    </div>



    <script>
        $('.parallax-wool').parallax({imageSrc: '/img/wool.jpg', speed:0.5, androidFix: false});
    </script>

</div>